.tolbar {
  display: flex;
}
.tolbar img {
  padding: 0px 0px 0px 80px;
}

.slaca {
  //titulo canto superior esquerdo
  width: 220px;
  height: 68px;
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  color: white;
  border-right: 1px solid black;
  padding: 70px 0px 0px 110px;
}
.sheets {
  // Menu centro esquerdo

  background-color: rgb(157, 157, 157);
  list-style-type: none;
  border-right: 1px solid black;
  width: 230px;

  padding: 0px 0px 0px 100px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; // pesquisar fonte correta (quicksand)
}
.sheets li {
  height: 40px;
}
.rodape {
  background: #fdf1eb;
  color: #725c5c;
  height: 1px;
  padding: 30px 400px 110px 60px;
}
.rodape p {
  height: 30px;
}
