<div class="geral">
  <div class="tolbar">
    <div class="right-menu">
      <h2 class="slaca">SLACA2019</h2>
      <img src="../../../assets/Orange.svg" alt="" />

      <ul class="sheets">
        <li><br />Apresentacao</li>
        <li><br />Comites</li>
        <li><br />Autores</li>
        <li><br />Trabalhos</li>
        <li><br />Contato</li>
      </ul>
    </div>
  </div>
  <div>
    <div class="rodape">
      <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
      <h2>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h2>
      <p>ISSN: 1234-5678</p>
    </div>

    <div class="container">
      <h2>
        Análise sensorial de preparações funcionais desenvolvidas para
        escolares<br />
        entre 09 e 15 anos, do município de Campinas/SP
      </h2>
      <img src="../../../assets/film.svg" alt="" />
    </div>
  </div>

  <div class="Language">
    <img src="../../../assets/Language.svg" alt="" />
    <select name="Idioma">
      <option class="Language1" value="PT">PT, BRA</option>
      <option class="Language1" value="IN">IN, EUA</option>
      <option class="Language1" value="PT">ES, ESP</option>
    </select>
  </div>
  <div class="Perfil">
    <img src="../../../assets/perfil.svg" alt="" />
    <div class="Perfil1">
      <h3>Bem vindo!</h3>

      <p>AlguemNovo@chuva.com.br</p>
    </div>
    <div class="left-menu">
      <button class="button">
        <img src="../../../assets/download.svg" alt="" />
      </button>
      <button class="button">
        <img src="../../../assets/favorite.svg" alt="" />
      </button>
      <button class="button">
        <img src="../../../assets/doi.svg" alt="" />
      </button>
      <h3 class="menu-text">COMO CITAR ESSE TRABALHO</h3>
      <div class="subMenu-left">
        <h2>Detalhes</h2>
        <div class="box">
          <div>
            Tipo de Apresentação: Pôster<br />
            Eixo temático: Alimentação e saúde (AS) <br />
            <br />Palavras-chaves: Alimentos funcionais, alimentação escolar.
          </div>
          <div>
            <h5>Autores:</h5>
            <br />
            Galileo Galilei¹<br />
            Berta Lange de Morretes²<br />
            Isaac Newton³<br />
            Cesar Lattes¹<br />
            Stephen Hawking⁴<br />
          </div>
          <br />
          <div>
            <br />
            ¹Universidade Estadual de Campinas<br />
            ²Universidade de São Paulo<br />
            ³Instituto Nacional de Pesquisas Espaciais<br />
            ⁴Universidade Federal do Rio de Janeiro
          </div>
          <div>
            Faculdade de Ciências Aplicadas / Universidade Estadual de Campinas
          </div>
          <div>
            Faculdade de Engenharia de Alimentos / Universidade Estadual de
            Campinas
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
