<div class="tolbar">
  <div class="right-menu">
    <h2 class="slaca">SLACA2019</h2>
    <img src="../../../assets/Orange.svg" alt="" />

    <ul class="sheets">
      <li>Apresentacao</li>
      <li>Comites</li>
      <li>Autores</li>
      <li>Trabalhos</li>
      <li>Contato</li>
    </ul>
  </div>
  <div class="rodape">
    <div>
      <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
      <h2>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h2>
      <p>ISSN: 1234-5678</p>
    </div>
  </div>
  <div>linguagem</div>
</div>
