.tolbar {
  display: flex;
  padding-left: 300px;
}
.tolbar img {
  margin: 10px 0px 0px 30px;
}
.right-menu {
  border-right: 1px solid black;

  position: fixed;
  left: 0;
}

.slaca {
  //titulo canto superior esquerdo
  width: 275px;
  height: 68px;
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  color: white;
  padding: 40px 0px 0px 40px;
  margin-left: 0px;
}

.sheets {
  // Menu centro esquerdo
  width: 230px;
  padding-left: 50px;
  font-family: Arial, Helvetica, sans-serif; // pesquisar fonte correta (quicksand)
  cursor: pointer;
}
.sheets li {
  // menu a esquerda
  border-radius: 3px;
  border: 1px solid rgba(25, 25, 25, 0.474);
  margin: 5px 0px 0px 0px;
  padding-left: 30px;
  height: 40px;
  list-style-type: none;
}

.rodape {
  // texto rodape( anais do simpso latino
  background: #fdf1eb;
  color: #725c5c;
  height: 1px;
  padding: 20px 0px 90px 20px;
  margin-left: 14px;
}

.Language {
  // IDIOMA
  display: flex;
  background: #fdf1eb;
  color: #725c5c;
  height: 30px;
  padding: 20px 0px 61px 0px;
  align-items: center;
}
.Language select {
  //Idioma
  height: 20px;
  background: #fdf1eb;
  border: none;
  box-shadow: 1px 3px 8px 5px rgba(83, 77, 58, 0.413);
  cursor: pointer;
}

.container {
  //container é a aerea do video.
  margin-top: 60px;
  margin-left: 0px;
}

.container h2 {
  //area do tituulo,video
  margin-top: 80px;
  margin-bottom: 40px;
  color: #ed7839;
  margin-left: 60px;
}
.Perfil {
  background: #fdf1eb;
  height: 1px;
  padding: 0px 200px 110px 0px;
  text-align: right;
}
.left-menu {
  //menu da direita
  width: 500px;
  margin-top: 100px;
}
.button {
  height: 0px;
  border: none;
  padding-right: 20px;
}
.button img {
  justify-content: space-between;
  margin: none;
  width: auto;
}
.subMenu-left {
  border: 1px solid rgba(25, 25, 25, 0.474);
  width: 500px;
  margin-top: 20px;
  height: 370px;
}
.subMenu-left h2 {
  //DETALHES
  margin-left: 20px;
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.4em;
  text-align: left;
  margin-top: 10px;
}
.menu-text {
  // COMO CITAR ESSE TRABALHO
  color: #ed7839;
  font-size: 14px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.6em;
  text-align: center;
  margin-top: 30px;
}
.box {
  //BOX-> resumo DETALHES
  width: 430px;
  height: 290px;
  border-radius: 5px;
  margin: 10px auto 0px auto;
  background-color: aliceblue;
  text-align: left;
  padding: 5px;
  box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.388);

  overflow-y: scroll;
}
.box div {
  width: 450px;
  height: 100px;
  background-color: aliceblue;

  margin-left: 21px;
}
